<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="tests" thread-count="3">

    <listeners>
        <listener class-name="utils.ListenerTest"/>
    </listeners>

    <parameter name="browserName" value="chrome"/>
    <parameter name="implicitWaitInSeconds" value="30"/>

    <test name="Email Input Test Group">
        <groups>
            <run>
                <include name="emailInput"/>
            </run>
        </groups>
        <classes>
            <class name="Login"/>
        </classes>
    </test>

</suite>