
@import "https://cdn.rawgit.com/alpertuna/react-metismenu/master/dist/react-metismenu-standart.min.css";

* {
  outline: none !important;
}

.app {
  min-height: 100vh;
  min-height: 100%;
}

.back-link {
  font-size: 13px;
}

.block-space {
  margin-top: 10px;
}