.component-container {
  position: relative;
}

.project-link {
  text-decoration: none !important;
}

.create-button {
  margin-bottom: 20px;
}

.project-list-item {
  word-wrap: break-word;
  padding: 15px;
}