$border-color-primary:#85CE36;

.component-container {
  position: relative;
}

.project-link {
  text-decoration: none !important;
}

.create-button {
  margin-bottom: 20px;
}

.project-list-item {
  word-wrap: break-word;
}

.project-list-item:hover {
  border: 1px solid $border-color-primary;
}