.filters-section{
  width: 100%;
  background: #85CE36;
  overflow: hidden;
  padding: 15px 20px;

}

.filter-block{
  overflow: hidden;

  &.filter-block--right{
    float: right;
  }

  &__title{
    float: left;
    margin-right: 30px;
    line-height: 29px;
  }

  &__selects{
    float: left;
    overflow: hidden;

  }

  .form-group{
    float: left;
    margin-bottom: 0;
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }

    .form-control{
      width: 140px;
      border-color: transparent;
    }
  }

}