
.header{

  .collapse-btn{
    cursor: pointer;
  }


  .header-block-nav{
    height: 100%;
    ul{
      height: 100%;
      float: right;
      li{
        vertical-align: middle;
      }
    }
  }


  .header-block-nav > ul > li > a {
    padding: 0;
  }

  .header-block-nav > ul > li{
    padding: 0 15px;
  }


  .username{
    font-weight: bold;
  }

  .header-block-nav > ul > li > .active{
    color: #85CE36;
  }

}